@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="carousel slide" style="height: 40px">
    <span style="float: left">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li style="width: 300px; text-align: center" role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab" class="glyphicon glyphicon-search">查询作业情况</a></li>
        <li style="width: 300px; text-align: center" role="presentation"><a href="#profile" role="tab" data-toggle="tab" class="glyphicon glyphicon-file">上机练习</a></li>
        <li style="width: 300px; text-align: center" role="presentation"><a href="#messages" role="tab" data-toggle="tab" class="glyphicon glyphicon-camera">云题库</a></li>
        <li style="width: 300px; text-align: center" role="presentation"><a href="#settings" role="tab" data-toggle="tab" class="glyphicon glyphicon-pencil">预习总结</a></li>
    </ul>

</div>
<br />
<div class="tab-content">
    <!-----------------------------查询作业 #begin----------------------------->
    <div role="tabpanel" class="tab-pane active" id="home">
        <div style="float: left; width: 350px; text-align: center">
            <form action="@Url.Action("ChaXun", "Student")"  method="post" target="id_iframe" >
                <h1 style="font-size: 30px">查询作业</h1>
                <div style="height: 30px"></div>
                <h3>作业类型:</h3>
                @Html.DropDownList("HomeworkTypeId", (SelectList)ViewBag.typelist, "请选择", new { id = "type", Class = "form-control" })
                <div style="height: 30px"></div>
                <h3>选择书本:</h3>
                @Html.DropDownList("SubjectId", (SelectList)ViewBag.list, "全部", new { id = "subject", Class = "form-control" })
                <div style="height: 30px"></div>
                <div style="text-align: center; width: 48px">
                </div>
                <input id="qeury" type="submit" onclick="yuxi" value="查询" class="btn btn-primary btn-lg" />
            </form>
        </div>
        <div style="text-align: center">
            <div style="height: 100px">
                <h2>查询结果</h2>
            </div>
            <div class="a">

                <iframe id="id_iframe" name="id_iframe" style="width: 70%; height: 45%; border: 0px" class="hidden-xs"></iframe>
            </div>
        </div>
    </div>
    <!-----------------------------查询作业 #end----------------------------->
    <!-----------------------------上机练习上传 #begin----------------------------->
    <div role="tabpanel" class="tab-pane" id="profile">
        <div style="float: left; width: 50px; height: 100px">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="height: 100px">学员作业登记系统>上机练习>上传作业</div>
        <div style="float: left; width: 100px">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="width: 800px; height: 400px;">
            @Html.Partial("SJLX");
        </div>
       @Html.Partial("ZyEnd");
    </div>
    <!-----------------------------上机练习上传 #end----------------------------->
    <!-----------------------------云题库上传 #begin----------------------------->
    <div role="tabpanel" class="tab-pane" id="messages">
        @Html.Action("Yuntiku");
    </div>
    <!-----------------------------云题库上传 #end----------------------------->
    <!-----------------------------预习总结上传 #begin----------------------------->
    <div role="tabpanel" class="tab-pane" id="settings">
        <div style="float: left; width: 50px; height: 100px">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="height: 100px">学员作业登记系统>预习总结>上传作业</div>
        <div style="float: left; width: 100px">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div style="width: 100%; height: 600px;">
           @Html.Partial("YXZJ");
        </div>
       @Html.Partial("ZyEnd");        
    </div>
    <!-----------------------------预习总结上传 #end----------------------------->
</div>
<script>
    function yuxi(data) {
        $(".a").html(data);
    }
    $("#subject").attr("disabled", true);
    $("#type").change(function () {
        var type = $("#type").val();
        if (type == 1 || type == 2) {
            $("#subject").attr("disabled", false);
        } else {
            $("#subject").attr("disabled", true);
        }
    });

</script>


<script>

</script>
<!-------------选择书本下拉框联动 #begin-->
<script type="text/javascript">
    $.ajaxSetup({ cache: false });
    $(document).ready(init);

    function init() {
        $(".subject1").change(function () {
            var selectedSubject = $(this).val();
            ShowChapterWithSelectedSubject(selectedSubject);
        });
    }

    function ShowChapterWithSelectedSubject(subject) {
        $.ajax({
            url: "@Url.Action("ShowChapter")",
            data: { subjectId: subject },
            success: function (data) {
                $(".chapter").html(data);
            }
        });
    }
</script>
<!-------------选择书本下拉框联动 #end-->
