@using HomeWork.Model
@model List<QueryHomeWork>
@{
    ViewBag.Title = "QueryHomeWork";
}
<link href="~/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>



@if (Model != null)
{
    
    <table class="table">

        <thead>
            <tr>
                <th>章节</th>
                <th>学生姓名</th>
                <th>完成度</th>
                <th>评价</th>
                <th>评分</th>
                <th>上传时间</th>
                <th>文件描述</th>

            </tr>
        </thead>

        <tbody>

            @foreach (HomeWork.Model.QueryHomeWork m in Model)
            {
                <tr class="active">
                    <td>@m.ChapterName</td>
                    <td>@m.StudentName</td>
                    <td>@m.Speed</td>
                    <td>@m.Comment</td>
                    <td>@m.ScoreName</td>
                    <td>@m.UploadTime</td>
                    <td>@m.Describe</td>
                </tr>
            }
        </tbody>
    </table>
}





